{
    "host": "127.0.0.1"
    ,"port": 9090
    ,"wsaddress": "ws://localhost:8080/static_key1"
    ,"seedMinSize": 20
    ,"seedMaxSize": 32
    ,"superSecretKey": "a6faa96f13a4b818f4008bf88f5910687c798144"
}