node_modules/*
package-lock.json
package.json
client/*/node_modules/*
test/*


config_tunnel.json

config_relay.json

client/config.js

config_SWSSH.json
client/SWSSH/config.js

config_TCP.json
client_TCP/config.json

config_SWTCP.json
client_SWTCP/config.json

config_SWTCP_2.json
client_SWTCP_2/config.json